@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Open+Sans:wght@300;400;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Hedvig+Letters+Sans&display=swap');
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #A6FF96;
  
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}



body {
  font-family: "Open Sans", sans-serif;
  color: #0c0c0c;
  background-color: #ffffff;
  overflow-x: hidden;
}
.section-p1{
  padding: 50px 30px;
}
.layout_padding {
  padding: 90px 0;
}

.layout_padding2 {
  padding: 75px 0;
}

.layout_padding2-top {
  padding-top: 75px;
}

.layout_padding2-bottom {
  padding-bottom: 75px;
}

.layout_padding-top {
  padding-top: 90px;
}

.layout_padding-bottom {
  padding-bottom: 90px;
}

.heading_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.heading_container h2 {
  position: relative;
  font-weight: bold;
  margin-bottom: 0;
}

.heading_container h2 span {
  color: #00bbf0;
}

.heading_container p {
  margin-top: 10px;
  margin-bottom: 0;
}

.heading_container.heading_center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

a:hover,
a:focus {
  color: initial;
}

.btn,
.btn:focus {
  outline: none !important;
  -webkit-box-shadow: none;
          box-shadow: none;
}

/*header section*/
.hero_area {
  position: relative;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero_area .hero_bg_box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  overflow: hidden;
  z-index: -1;
}

.hero_area .hero_bg_box .bg_img_box {
  min-width: 100%;
  min-height: 100%;
}

.hero_area .hero_bg_box img {
  min-width: 100%;
  min-height: 100%;
}

.sub_page .hero_area {
  min-height: auto;
  background: linear-gradient(130deg, #231a6f, #0f054c),;
}

.sub_page .hero_area .hero_bg_box {
  display: none;
}

.header_section {
  padding: 15px 0;
  box-shadow: 1px 1px  12px rgba(0, 0, 0, 0.5);
}

.header_section .container-fluid {
  padding-right: 25px;
  padding-left: 25px;
}

.navbar-brand span {
  font-weight: bold;
  font-size: 24px;
  color: #ffffff;
}

.custom_nav-container {
  padding: 0;
  
  
}
.header_section{
  background-color: #ffffff;
  color: #000000;
}

.custom_nav-container .navbar-nav {
  margin-left: auto;
  
}

.custom_nav-container .navbar-nav .nav-item .nav-link {
  padding: 5px 20px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  border-radius: 5px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.custom_nav-container .navbar-nav .nav-item:hover .nav-link, .custom_nav-container .navbar-nav .nav-item.active .nav-link {
  color: #246e01;
}

.custom_nav-container .navbar-nav .nav-item.active .nav-link {
  font-weight: 600;
}

.custom_nav-container .nav_search-btn {
  width: 35px;
  height: 35px;
  padding: 0;
  border: none;
  color: #ffffff;
}

.custom_nav-container .nav_search-btn:hover {
  color: #00bbf0;
}

.custom_nav-container .navbar-toggler {
  outline: none;
}

.custom_nav-container .navbar-toggler {
  padding: 0;
  width: 37px;
  height: 42px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.custom_nav-container .navbar-toggler span {
  display: block;
  width: 35px;
  height: 4px;
  background-color: #ffffff;
  margin: 7px 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
  border-radius: 5px;
  transition: all 0.3s;
}

.custom_nav-container .navbar-toggler span::before, .custom_nav-container .navbar-toggler span::after {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  top: -10px;
  border-radius: 5px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.custom_nav-container .navbar-toggler span::after {
  top: 10px;
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] span {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] span::before, .custom_nav-container .navbar-toggler[aria-expanded="true"] span::after {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  top: 0;
}

/*end header section*/
/* slider section */
.slider_section {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
          /* background-image: url(); */
          background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.4), rgba(19, 228, 106, 0.4)), url("../images/cover.png");
          background-position: center;
          background-size: cover;
          background-attachment: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: 45px 0 145px 0;
}

.slider_section .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider_section #customCarousel1 {
  width: 100%;
  position: unset;
}

.slider_section .detail-box {
  color: #00204a;
}

.slider_section .detail-box h1 {
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 15px;
  color: #ffffff;
}

.slider_section .detail-box p {
  color: #fefefe;
  font-size: 14px;
}

.slider_section .detail-box .btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -5px;
  margin-top: 25px;
}

.slider_section .detail-box .btn-box a {
  margin: 5px;
  text-align: center;
  width: 165px;
}

.slider_section .detail-box .btn-box .btn1 {
  display: inline-block;
  padding: 10px 15px;
  background-color: #00bbf0;
  color: #ffffff;
  border-radius: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: none;
}

.slider_section .detail-box .btn-box .btn1:hover {
  background-color: #007fa4;
}

.slider_section .detail-box .btn-box .btn2 {
  display: inline-block;
  padding: 10px 15px;
  background-color: #000000;
  color: #ffffff;
  border-radius: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: none;
}

.slider_section .detail-box .btn-box .btn2:hover {
  background-color: black;
}

.slider_section .img-box {
  margin: 45px 0;
}

.slider_section .img-box img {
  width: 100%;
  -webkit-animation: upDown 5s infinite;
          animation: upDown 5s infinite;
}

@-webkit-keyframes upDown {
  0% {
    -webkit-transform: translateY(-45px);
            transform: translateY(-45px);
  }
  50% {
    -webkit-transform: translateY(45px);
            transform: translateY(45px);
  }
  100% {
    -webkit-transform: translateY(-45px);
            transform: translateY(-45px);
  }
}

@keyframes upDown {
  0% {
    -webkit-transform: translateY(-45px);
            transform: translateY(-45px);
  }
  50% {
    -webkit-transform: translateY(45px);
            transform: translateY(45px);
  }
  100% {
    -webkit-transform: translateY(-45px);
            transform: translateY(-45px);
  }
}

.slider_section .carousel-indicators {
  position: unset;
  margin: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider_section .carousel-indicators li {
  background-color: #ffffff;
  width: 12px;
  height: 12px;
  border-radius: 100%;
  opacity: 1;
}

.slider_section .carousel-indicators li.active {
  width: 20px;
  height: 20px;
  background-color: #00bbf0;
}

.service_section {
  position: relative;
}

.service_section .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-top: 45px;
  background-color: #f8f8f9;
  padding: 20px;
  border-radius: 5px;
}

.service_section .box .img-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 125px;
  min-width: 75px;
  height: 75px;
  margin-bottom: 15px;
}

.service_section .box .img-box img {
  max-width: 100%;
  max-height: 100%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.service_section .box .detail-box h5 {
  font-weight: bold;
  text-transform: uppercase;
}

.service_section .box .detail-box a {
  color: #00204a;
  font-weight: 600;
}

.service_section .box .detail-box a:hover {
  color: #00bbf0;
}

.service_section .btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 45px;
}

.service_section .btn-box a {
  display: inline-block;
  padding: 10px 45px;
  background-color: #00bbf0;
  color: #ffffff;
  border-radius: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: none;
}

.service_section .btn-box a:hover {
  background-color: #007fa4;
}

.about_section {
  background-color: #003875;
  color: #ffffff;
  padding: 50px;
}

.about_section .heading_container {
  margin-bottom: 45px;
}

.about_section .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about_section .img-box img {
  max-width: 100%;
}

.about_section .detail-box h3 {
  font-weight: bold;
}

.about_section .detail-box p {
  margin-top: 15px;
}

.about_section .detail-box a {
  display: inline-block;
  padding: 10px 45px;
  background-color: #00bbf0;
  color: #ffffff;
  border-radius: 0px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: none;
  margin-top: 15px;
}

.about_section .detail-box a:hover {
  background-color: #007fa4;
}

.why_section .box {
  margin-top: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.why_section .box .img-box {
  margin-bottom: 20px;
  width: 120px;
  height: 120px;
  min-width: 120px;
  min-height: 120px;
  border-radius: 100%;
  border: 5px solid #00204a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.why_section .box .img-box img {
  width: 55px;
  height: auto;
  fill: #00204a;
}

.why_section .box h5 {
  font-weight: bold;
  margin-bottom: 10px;
}

.why_section .box p {
  margin-bottom: 0;
}

.why_section .btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 45px;
}

.why_section .btn-box a {
  display: inline-block;
  padding: 10px 45px;
  background-color: #00bbf0;
  color: #ffffff;
  border-radius: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: none;
}

.why_section .btn-box a:hover {
  background-color: #007fa4;
}

/*team section */
.team_section {
  text-align: center;
  background-color: #00204a;
  color: #ffffff;
}

.team_section .heading_container {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.team_section .team_container {
  padding: 0 15px;
}

.team_section .team_container .box {
  padding: 35px 0 0 0;
  border-radius: 5px;
  overflow: hidden;
  -webkit-transition: all .1s;
  transition: all .1s;
  margin-top: 45px;
  background: -webkit-gradient(linear, left top, left bottom, from(#002759), to(#002b64));
  background: linear-gradient(to bottom, #002759, #002b64);
}

.team_section .team_container .box .img-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.team_section .team_container .box .img-box img {
  width: 120px;
  border-radius: 100%;
  border: 5px solid #ffffff;
}

.team_section .team_container .box .detail-box {
  margin: 25px 0;
}

.team_section .team_container .box .detail-box h5 {
  color: #00bbf0;
  font-weight: 600;
  position: relative;
}

.team_section .team_container .box .social_box {
  padding: 10px 45px 20px 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.team_section .team_container .box .social_box a {
  color: #ffffff;
  font-size: 22px;
}

.team_section .team_container .box .social_box a:hover {
  color: #00bbf0;
}

/*team section end*/
/* client section start */
.client_section .heading_container {
  margin-bottom: 30px;
}

.client_section .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 15px;
}

.client_section .box .img-box {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100px;
  margin-bottom: -50px;
  margin-left: 25px;
  position: relative;
}

.client_section .box .img-box img {
  border-radius: 100%;
}

.client_section .box .client_id {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.client_section .box .client_id .client_info h6 {
  font-weight: 600;
  margin-bottom: 5px;
}

.client_section .box .client_id .client_info p {
  margin-bottom: 0;
  font-size: 15px;
  font-size: 14px;
  margin-bottom: 10px;
}

.client_section .box .detail-box {
  background-color: #ffffff;
  -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.15);
  padding: 75px 25px 25px 25px;
}

.client_section .box .detail-box i {
  color: #00204a;
  margin-bottom: 10px;
}

.client_section .owl-carousel .owl-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 45px;
}

.client_section .owl-carousel .owl-nav .owl-prev,
.client_section .owl-carousel .owl-nav .owl-next {
  width: 55px;
  height: 55px;
  background-color: #ffffff;
  color: #000000;
  outline: none;
  bottom: 0px;
  font-size: 24px;
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25);
}

.client_section .owl-carousel .owl-nav .owl-prev:hover,
.client_section .owl-carousel .owl-nav .owl-next:hover {
  color: #00204a;
}

/* client section end */
.info_section {
  background-color: #00204a;
  color: #ffffff;
  padding: 45px 0 15px 0;
}

.info_section h4 {
  font-weight: 600;
  margin-bottom: 20px;
}

.info_section .info_col {
  margin-bottom: 30px;
}

.info_section .info_contact .contact_link_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.info_section .info_contact .contact_link_box a {
  margin: 5px 0;
  color: #ffffff;
}

.info_section .info_contact .contact_link_box a i {
  margin-right: 5px;
}

.info_section .info_contact .contact_link_box a:hover {
  color: #00bbf0;
}

.info_section .info_social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  margin-bottom: 10px;
}

.info_section .info_social a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
  border-radius: 100%;
  margin-right: 10px;
  font-size: 24px;
}

.info_section .info_social a:hover {
  color: #00bbf0;
}

.info_section .info_links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.info_section .info_links a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
  color: #ffffff;
}

.info_section .info_links a:hover {
  color: #00bbf0;
}

.info_section form input {
  border: none;
  border-bottom: 1px solid #ffffff;
  background-color: transparent;
  width: 100%;
  height: 45px;
  color: #ffffff;
  outline: none;
}

.info_section form input::-webkit-input-placeholder {
  color: #ffffff;
}

.info_section form input:-ms-input-placeholder {
  color: #ffffff;
}

.info_section form input::-ms-input-placeholder {
  color: #ffffff;
}

.info_section form input::placeholder {
  color: #ffffff;
}

.info_section form button {
  width: 100%;
  text-align: center;
  display: inline-block;
  padding: 10px 55px;
  background-color: #00bbf0;
  color: #ffffff;
  border-radius: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: none;
  margin-top: 15px;
}

.info_section form button:hover {
  background-color: #007fa4;
}

/* footer section*/
.footer_section {
  position: relative;
  background-color: #ffffff;
  text-align: center;
}

.footer_section p {
  color: #00204a;
  padding: 25px 0;
  margin: 0;
}

.footer_section p a {
  color: inherit;
}



.custom_nav-container .navbar-nav .nav-item .nav-link, .custom_nav-container .navbar-nav .nav-item.active .nav-link {
  color: rgb(18, 139, 7);
}
.dropdown:hover>.dropdown-menu {
  display: block;
}

.dropdown>.dropdown-toggle:active {
  /*Without this, clicking will make it sticky*/
    pointer-events: none;
}
.header_section{
  width: 100%;
  position: fixed;
  z-index: 999;
}
.top{
  background-color: #003875;
  color: #ffffff;
  padding: 10px 50px;
  
}
span.logo-text,
.dropdown-item{
  color: rgb(18, 139, 7);
}
.detail-box img{
  width: 100%;
}
#detail-box{
  position: absolute;
  color: #ffffff;
  left: 50px;
  top: 200px;
  
}
#detail-box h4{
  margin-top: -10px;
  width: 50%;
}
section.slider_section{
  margin-top: 50px;
  /* height: 50vh; */
  height: 100px;
}
/*# sourceMappingURL=style.css.map */











/* ******************* */
.carousel{
  width: 100%;
}
.layout_padding{
  height: 70vh;
}





a.social{
  margin-left: 10px;
  color: #ffff;
}
a.social:hover{
  filter: opacity(80%);
}

.dropdown-menu{
 border: 0;
 text-align: left;
}
.custom_nav-container .navbar-nav .nav-item .nav-link {
  text-align: left;
  color: rgb(18, 139, 7);
  position: relative;

}
.custom_nav-container .navbar-nav .nav-item .nav-link.active{
  font-weight: 600;
}
.custom_nav-container .navbar-nav .nav-item .nav-link.active::before{
  position: absolute;
  top: 25px;
  left: 20px;
  content: "";
  width: 70%;
  height: 3px;
  background-color: rgb(18, 139, 7);
}


/* feature section */
#feature,
#news{
  padding: 70px 0;
}
#feature .featur-box img{
  width: 150px;
  
}
#feature .featur-box p{
  text-align: center;
}
#feature .featur-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}



/* news section */
#news .card-body{
  /* background-color: red; */
  padding: 30px 50px;
  margin: 30px 10px;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.125);
}
/* #news .card-body:hover{

} */




.team_section .section-p1 .btn{
  border: 2px solid #ffff;
  width: 100%;
  background-color: transparent;
  padding: 10px 50px;
  color: #ffff;
  font-size: 22px;
  /* font-weight: 600; */
  font-family: 'Inclusive Sans', sans-serif;
}
.team_section .section-p1 .btn:hover{
  background-color: #00bbf0;
  color: #ffff;
  border-color: #00bbf0;
}
.edu-banner{
  background-image: url("../images/banner.png");
  background-size: cover;
  height: 50vh;
  background-position: top 50%;
  background-attachment: fixed;
}








/* footer */





















/* *******************About Page ******************/

.about_section{
  margin-top: 200px;
}


#mission-vission{
  padding: 100px 50px;
}
#mission-vission  img{
  width: 100px;
}

#mission-vission .mission,
#mission-vission .vision,
#mission-vission .values{
  text-align: center;
}
#mission-vission h1{
  font-weight: 800;
}
#mission-vission h1 span{
  color: rgb(18, 139, 7);
}






/*  */
/* 
#myself .content{
  display: flex;

} */
#myself.image-container{
  width: 100%;
  height: 60vh;
}
#myself .image-container img{
  width: 100%;
}
#myself.detail-box{
  margin-left: 50px;
  width: 100%;
}
#myself .detail-box h2{
  font-weight: 700;
}



/* ********************* Resources Page ****************/
#resources-hero{
  background-color: #003875;
  height: 30vh;
  z-index: -999;
  margin-top: 190px;
  text-align: center;
  color: #ffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

#resources-info .middle-line{
  width: 5px; 
  height: 100%; 
  background-color: #555252;
  border-radius: 10px;
}
#resources-info .resourse-title{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
#resources-info .resourse-title h1{
  font-weight: 700;
  color: #555252;
}
h6{
  color: #555252;
}
#resources-info .detail-box{
  display: flex;
  flex-direction: column;
}
#resources-info .detail-box a{
  font-size: 20px;
  transition: 0.2s ease-in;
}




/* Background Page */
#background-hero{
  /* position: relative; */
  margin-top: 150px;
  background-image: url("../assets/images/background-hero.jpg");
  
  background-size: cover;
  width: 100%;
  height: 40vh;
  background-attachment: fixed;
}

#background-info h2{
  position: relative;
}

#background-info h2::before{
  position: absolute;
  left: 3px;
  top: 33px;
  content: "";
  width: 100px;
  height: 3px;
  background-color: #00bbf0;

}

#background-info .detail-box{
  text-align: left;
}







/* ******************* Programs page *************************** */
#programme hr{
  background-color: #AFC8AD;
 border-style: dotted none none;
 border-top-style: dotted;
 border-width: 2%;
 height: 2px;
 width: 5%;
 
} 
#programme h1{
  font-weight: 700;
  width: 50%;
}






.sub_nav{
  /* background-color: red; */
  
  width: 100%;
  z-index: 0;
  margin-top: 20px;
  
}

/* facility page */
#facilities-images h3{
  font-weight: 700;
  color: #555252;
}
#facilities-images .gallery{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 30px;
}
#facilities-images .gallery img{
  width: 100%;
}

#facilities-images .gallery a h5{
  font-size: 16px;
  transition: 0.2s;
}


#management-staff .staff-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 30px;
}

#management-staff .staff-container .staff{
  border: 1px solid #bcb0ff;
  cursor: pointer;
  transition: 0.3s;
}

#management-staff .staff-container .staff:hover{
  box-shadow: 1px 1px  6px rgba(0, 0, 0, 0.5);
}
#management-staff .staff-container .staff:hover .image-box img{
  transform: scale(105%);
}

#management-staff .staff-container .staff .image-box{
  /* background-color: #00204a; */


}
#management-staff .staff-container .staff .image-box,
#management-staff .staff-container .staff .info-box{
  padding: 10px;
}
#management-staff .staff-container .staff .info-box h5{
  color: #002759;
  /* top: -20px; */
}
#management-staff .staff-container .staff .image-box img{
  width: 100%;
  transition: 0.3s;
}


#faq .row h4{
  font-weight: 600;
}
#why-apply .row p{
  font-size: 18px;
  line-height: 1.6;
}


#why-apply .row ul{
  list-style: circle;
  list-style-type: "✔  ";
  list-style: symbols(cyclic "\1F34E" "\1F34F");
  /* list-style: symbols(cyclic "\1F34E" "\1F34F"); */
}
#why-apply .row ul li{
  font-weight: 800;
  font-size: 18px;
  padding: 10px 0;
  
}






#project-doc h2{
  font-weight: 600;
}

#project-doc .download-links-box{
  display: flex;
  flex-direction: column;
  width: 50%;
  
  /* width: 50%; */
}

#project-doc .download-links-box a{
  
  font-size: 20px;
  transition: 0.2s;
  /* width: 100%; */
}




#news-hero{
  height: 40vh;
  background-color: #002b64;
  background-image: url("https://downloader.la/temp/[Downloader.la]-657ed75252f09.jpg");
  background-position: top;
  background-position-y: bottom;
  background-size: cover;
  background-blend-mode: multiply;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 190px;
}

#news-hero h1{
  color: #ffff;
  font-size: 5rem;
  /* margin-top: 50px; */
}
#news-content{
  font-family: apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}
small {
  color: #999;
  font-size: 80%;
  text-transform: uppercase;
}
#news-content p{
  font-size: 1.2em;
  line-height: 1.5;
}
#news-content .news .sub-news{
  display: flex;
  grid-gap: 30px;
  padding: 30px 0;
  /* height: 300px; */
}
#news-content .news .sub-news .news-header-image{
  width: 900px;
  height:300px;
  /* padding: 20px 0; */
  background-color: #ffff;

}

#news-content .news .sub-news .news-header-image img{
  height: 100%;
  width: 100%;
}
#news-content .news .sub-news .news-info{
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
}
#news-content .news .sub-news .news-info h4{
  padding-left: 50px; 
  margin-left: -20%;
  margin-top: 1rem;
   background-color: #fff;
   font-size: 24px;
   padding: 1rem 1.5rem 1rem;
   font-weight: 600;

   
}
#news-content .news .sub-news .news-info h4:hover{
  text-decoration: underline;
}
#news-content .news .sub-news .news-info h4 a{
  color: #000000;
  touch-action:double-tap-zoom;
}

.navgate .btn{
  background-color: #002b64;
  color: #ffff;

}



#events-hero{
  height: 40vh;
  background-color: #002b64;
  background-image: url("../images/event-hero.jpg");
  background-position: bottom 70% left 50%;
  /* background-position-y: bottom; */
  background-size: cover;
  background-blend-mode: multiply;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 190px;
  color: #ffff;
  
}



#events-hero h1{
  font-weight: 700;
}






#events-content .events-container,
#events-content .events-container .event{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  

}
#events-content .events-container .event{
  margin-top: 50px;
  background-color: transparent;
  position: relative;
  cursor: pointer;
  transition: 0.8s ease-in-out;
  
}

#events-content .events-container .event .info-box{
  position: absolute;
  bottom: 0;
  background-color: #000000;
  filter: opacity(70%);
  color: #ffff;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.8s ease-in-out;
}

#events-content .events-container .event:hover .info-box{
  height: 100%;
  transition: 0.8s ease-in-out;
  
}


#events-content .events-container .event .info-box h2>a{
  color: #ffff;
  transition: 0.5ms ease-in-out;
}

#events-content .events-container .event .info-box h2>a:hover{
  text-decoration: underline;
}


#events-content .events-container .event:hover{
  transform: scale(108%);
  transition: 0.8s ease-in-out;
  
}
#events-content .events-container .event .image-box{
  width: 100vh;
}

#events-content .events-container .event .image-box img{
  width: 100%;
}


#events-content .events-container .event .info-box h2{
  padding: .6em;
}

#contact-us{
  margin-top: 190px;
  /* position: relative; */
  z-index: -999;
}
#contact-us .form-control{
  transition: 0.8s ease-in-out;
}
#contact-us .form-control:focus{
  box-shadow:0px 0px 4px #002b64;
  border-color: #002b64;
}

#contact-us h2{
  font-weight: 700;
}

#contact-us .contact-info{
  border: 1px solid #cecece;
  height: 100%;
  padding: 50px;
}

#contact-us .contact-info .info-group{
  padding: 20px 0;
  display: flex;
  grid-gap: 15px;
}
#contact-us .contact-info .info-group h4{
  font-weight: 600;
  color: #555252;
}


#contact-us .contact-info .info-group i{
  color: rgb(18, 139, 7);
  padding-right: 15px;
}

.dropdown .dropdown-menu .nav-item .dropdown-item.nav-link{
  color: #000;
  /* background-color: rgb(63, 11, 11); */
}





















@media (max-width: 977px){
  #background-hero {
    background-position: center;
    
  }
}























































